
body {
    background-color: hsla(210, 20%, 50%, 0.3);
}

label {
    font-family: serif;
    color: #064771;
}

#NumOfSystems {
    float:left;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding: 7px;
    border-radius: 25px;
    vertical-align: super;
    font-style: bold;
}

#Logins {
    color: #064771;
    float:right;
    height:90%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

#SSH {
    color: #064771;
    float:right;
    height: 90%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

/* .failed_ssh_table { */
/*     border-collapse: collapse; */
/*     width: 100%; */
/* } */

/* .failed_ssh_table td, #failed_ssh_table th { */
/*     border: 1px solid #ddd; */
/*     padding: 8px; */
/* } */

/* .failed_ssh_table tr:nth-child(even) {background-color: #f2f2f2;} */

/* .failed_ssh_table tr:hover {background-color: #d95;} */

/* .failed_ssh_table th { */
/*   padding-top: 12px; */
/*   padding-bottom: 12px; */
/*   text-align: left; */
/*   background-color: #000020; */
/*   color: white; */
/* } */

.main-div {
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 600px;
    width: 1300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-heading-div {
    color: #064771;
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    position: relative;
    top: 0%;
    left: 3%;
    float: left;
    height: 5%;
    width:36%;
}

.heading-div {
    color: #064769;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border-radius: 20%;
    position: relative;
    top: 0%;
    left: 3%;
    height: 10%;
    width:45%;
    text-align: center;
    font-variant: small-caps;
}

.blue-back-div {
    background-color: hsla(210, 20%, 50%, 0.3);
    position: relative;
    top: 0%;
    left: 1%;
    height: 15%;
    width:98%;
    border-radius: 10px 140px 10px 140px;
}

.orange-text {
    color: #ff1e00;
    float: right;
    font-family: serif;
    position: relative;
    bottom: 7px;
}

.NumOfSystems-div {
    color: #064769;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    float: right;
    position: relative;
    right: 10%;
}

 .dot {
  height: 8px;
  width: 8px;
  background-color: #ff1e00;
  border-radius: 50%;
  display: inline-block;
 }

 .dot-tab {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 0px 10px 0px;
 }

 .align-dot-bottom {
     margin: 32px 0px 0px 0px;
 }

 .tab {
     float: right;
     position: absolute;
     top: 0.2%;
     right: 5%;
     overflow: hidden;
     background-color: #FFFFFF;
 }

 .aggregate-sub-tab {
     float: left;
     position: absolute;
     top: 5%;
     right: 10%;
     overflow: hidden;
     background-color: #FFFFFF;
 }

 .tab button {
     background-color: inherit;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 11px 13px;
     transition:0.3s;
     color: #064771;
     font-family: Avantgarde, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
     font-style: oblique;
     font-size: 13px;
     font-weight: 600;
 }

 .aggregate-sub-tab button {
     background-color: inherit;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 11px 13px;
     transition:0.3s;
     color: #064771;
     font-family: Avantgarde, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
     font-style: oblique;
     font-size: 13px;
     font-weight: 600;
 }

 .tab button:hover {
     color: #ff1e00;
     font-size: 15px;
 }

 .aggregate-sub-tab button:hover {
     color: #ff1e00;
     font-size: 15px;
 }

 .tab button:active {
     color: #ff9e00;
     font-size: 16px;
 }

 .aggregate-sub-tab button:active {
     color: #ff9e00;
     font-size: 16px;
 }

 .tabcontent {
     float: right;
     width: 59%;
     height: 23%;
     position: relative;
     right: 3%;
     top: 0%;
 }

 .activate {
  background-color: #ff1e00;
 }

 .main-space-div {
    background-color: hsla(210, 20%, 50%, 0.2);
    position: relative;
    top: 0%;
    left: 1%;
    height: 70%;
    width:98%;
    border-radius: 110px 10px 10px 10px;
    vertical-align: middle;
 }

 .aggregate-space-div {
     background-color: hsla(20, 20%, 50%, 0.2);
     position: relative;
     top: 0%;
     left: 1%;
     height: 70%;
     width: 98%;
     border-radius: 110px 10px 10px 10px;
     vertical-align: middle;
 }

 .system-names-container-div {
     display:none;
     background-color: transparent;
     float: left;
     position: relative;
     top: 30%;/*7%;*/
     left: 9%;
     height: 47%;
     width: 25%;
     border-radius: 10px 10px 10px 10px;
     vertical-align: middle;
     overflow-y: auto;
     overflow-x: auto;
 }

 .system-names-titles-div {
     color: #064771;
     font-family: Avantgarde, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
     font-size: 14px;
     font-weight: 700;
     font-variant: small-caps;
     position: relative;
     top: 30%;/*7%;*/
     left: 10%;
 }

 .date-div {
     color: #064771;
     position: absolute;
     top: 7%;/*70%;*/
     left: 10%;/*
     height: 20%;
     width: 30%;*/
     /*display: flex;
     align-items: left;*/
 }

 .date-title-div {
     color: #064771;
     font-family: Avantgarde, 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
     font-size: 14px;
     font-weight: 700;
     font-variant: small-caps;
     text-align: center;
 }

