<!DOCTYPE html5>
<html>
  <head>
    <link rel="stylesheet" href="/css/lmon_web_frontend_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
      document.BACKEND_URL="{{ backend_url }}"
    </script>
  </head>
  
  <body>
    <script src="/js/lmon_web_frontend.js"></script>
    <div class="main-div">
      
      <div id="sub-heading-with-dot">
	<div class="sub-heading-div">
	  <h1>Centre for Cloud Computing and Big Data</h1>
	</div>
	<div class="dot align-dot-bottom"></div>
      </div>

      <div class="tab">
	<button class="tablinks" onclick="openTab(event,'CPU')" id="defaultOpen">CPU Utilization <div id="CPU-dot" class="dot-tab activate"></div> </button>
	<button class="tablinks" onclick="openTab(event,'RAM')">RAM Utilization <div id="RAM-dot" class="dot-tab activate"></div> </button>
	<button class="tablinks" onclick="openTab(event,'Logins')">Login Information <div id="Logins-dot" class="dot-tab activate"></div> </button>
      </div>

      <div class="blue-back-div">
	<div class="heading-div">
	  <h1>Systems Monitoring Portal</h1>
	</div>
	<div class="NumOfSystems-div">
	  <div style="float:left; font-style:oblique;">
	    <p>Number of systems being monitored:</p>
	  </div>
	  <div id="NumOfSystems" class="orange-text"></div>
	</div>
      </div>

      <div class="main-space-div">

	<div class="system-names-titles-div">
	  <h3>System Names & IPs</h3>
	</div>
	
	<div class="system-names-container-div" id="system-names-container"></div>

	
	<div class="date-div">
	  <div class="date-title-div">
	    <h3>Log Date</h3>
	  </div>
	  <div class="date-input-div">
	    <input id="date-input" type="date" value="2020-10-01">
	  </div>
	</div>
	

	<!-- Tab content -->
	<div id="CPU" class="tabcontent" style="float:right;">
	  <canvas id="CPU-chart"></canvas>
	</div>
	
	<div id="RAM" class="tabcontent" style="float:right;">
	  <canvas id="RAM-chart"></canvas>
	</div>

	<div id="Logins" class="tabcontent" style="float:right; overflow-y: scroll; overflow-x: scroll;">
	  <p>Login Stuff</p>
	</div>
      </div>
	
    </div>
    <script>

      _FillSystemNamesContainer();
      _SetDefaultDateToYesterday();
      document.getElementById("defaultOpen").click();
      
      xhr_object = new XMLHttpRequest();
      xhr_object.onload = UpdateNumberOfSystems;
      xhr_object.open('GET', 'http://'+document.BACKEND_URL+'/api/v1/get-machines/'+new Date(new Date().setDate(new Date().getDate()-1)).toISOString().substr(0, 10));
      xhr_object.send();

      xhr_object_01 = new XMLHttpRequest();
      xhr_object_01.onload = _FillSystemNamesContainer;
      xhr_object_01.open('GET', 'http://'+document.BACKEND_URL+'/api/v1/get-machines/'+new Date(new Date().setDate(new Date().getDate()-1)).toISOString().substr(0, 10));
      xhr_object_01.send();

      const date_input_element = document.getElementById('date-input');
      date_input_element.addEventListener('input', LogDateModified);
    </script>
  </body>
</html>
